In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Norman Wells,CA,2020-08-12 23:47:02,65.28,-126.83,64.40,72,75,0.38
1,1,Lac Du Bonnet,CA,2020-08-12 23:47:02,50.25,-96.06,87.01,72,48,5.99
2,2,Rudbar,AF,2020-08-12 23:47:02,30.15,62.60,75.81,21,0,8.55
3,3,Raditsa-Krylovka,RU,2020-08-12 23:47:03,53.32,34.36,49.14,96,2,6.78
4,4,Rio Branco,BR,2020-08-12 23:47:03,-9.97,-67.81,86.00,55,29,2.24

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [34]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 30
What is the maximum temperature you would like for your trip? 70

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Norman Wells,CA,2020-08-12 23:47:02,65.28,-126.83,64.40,72,75,0.38
3,3,Raditsa-Krylovka,RU,2020-08-12 23:47:03,53.32,34.36,49.14,96,2,6.78
7,7,Camana,PE,2020-08-12 23:47:04,-16.62,-72.71,58.80,73,12,6.82
10,10,Oltu,TR,2020-08-12 23:47:04,40.55,42.00,59.04,79,15,2.53
11,11,Narsaq,GL,2020-08-12 23:45:54,60.92,-46.05,50.00,76,100,4.70
14,14,Sepolno Krajenskie,PL,2020-08-12 23:47:05,53.45,17.53,59.00,78,48,5.01
15,15,Ayagoz,KZ,2020-08-12 23:47:05,47.97,80.44,61.48,33,19,9.66
16,16,Codrington,AU,2020-08-12 23:46:14,-38.27,141.97,54.66,87,25,15.73
20,20,Camacupa,AO,2020-08-12 23:47:07,-12.02,17.48,55.80,37,0,4.07
22,22,Talara,PE,2020-08-12 23:47:07,-4.58,-81.27,61.66,88,1,17.40

In [14]:
preferred_cities_df.count()

City_ID       69
City          69
Country       69
Date          69
Lat           69
Lng           69
Max Temp      69
Humidity      69
Cloudiness    69
Wind Speed    69
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                  City Country  Max Temp    Lat     Lng Hotel Name
0         Norman Wells      CA     64.40  65.28 -126.83
3     Raditsa-Krylovka      RU     49.14  53.32   34.36
7               Camana      PE     58.80 -16.62  -72.71
10                Oltu      TR     59.04  40.55   42.00
11              Narsaq      GL     50.00  60.92  -46.05
14  Sepolno Krajenskie      PL     59.00  53.45   17.53
15              Ayagoz      KZ     61.48  47.97   80.44
16          Codrington      AU     54.66 -38.27  141.97
20            Camacupa      AO     55.80 -12.02   17.48
22              Talara      PE     61.66  -4.58  -81.27

In [35]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [57]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""    
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [58]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Norman Wells,CA,64.40,65.28,-126.83,Heritage Hotel
3,Raditsa-Krylovka,RU,49.14,53.32,34.36,Club Boston
7,Camana,PE,58.80,-16.62,-72.71,Hostal Morales
10,Oltu,TR,59.04,40.55,42.00,Oltu Öğretmenevi
11,Narsaq,GL,50.00,60.92,-46.05,Hotel Narsaq
14,Sepolno Krajenskie,PL,59.00,53.45,17.53,Noclegi Jan
15,Ayagoz,KZ,61.48,47.97,80.44,Gostinitsa Nur
16,Codrington,AU,54.66,-38.27,141.97,Codrington Gardens Bed And Breakfast
20,Camacupa,AO,55.80,-12.02,17.48,
22,Talara,PE,61.66,-4.58,-81.27,

In [59]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))